<html>
<head>
    <title>Image Colorization</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_2.css') }}">
</head>
<body>
<div id="instructions">
    <h1>Image Colorization</h1>
    <p> Please note the following requirements: </p>
    <p> Allowed file formats: {'png', 'jpg', 'jpeg'} </p>
    <p> Max file Size: 5 MB</p>

    <form action="/handleUpload" method="post" enctype="multipart/form-data">
        Choose the file: <input type="file" name="file"/><BR>
        <input type="submit" value="Upload and Predict"/>
    </form>
</div>

{#<div id="prediction"> {{ output }} </div>#}


<div id="uploaded_image"> Uploaded Image: <br/> <img
        src="{{ url_for('static', filename=uploaded_image_for_display) }}" alt="uploaded image by user"/></div>
<br/>
<br/>
<div id="grayscaled_image">Uploaded Image in Grayscale: <br/><img
        src="{{ url_for('static', filename=grayscaled_image_for_display) }}" alt="input image converted to grayscale"/>
</div>
<br/>
<div id="colorized_image">Colorized Image: <br/><img
        src="{{ url_for('static', filename=colorized_image_for_display) }}" alt="colorized image using model"/>
</div>

<footer>
    <p>Credits: Daniel Mata, YingHsuan Lo, Naga Sumanth Vankadari </p>
    <p>© 2020, University of North Texas </p>
</footer>

</div>
</body>
</html> 